@media screen and (min-width: 1100px) {
  .backgroundImage {
    background-image: url("../../public/backgroundObject.svg");
    background-size: 1000;
    background-repeat: no-repeat;
  }
}

@media screen and (max-width: 1100px) and (min-width: 768px) {
  .backgroundImage {
    background-image: url("../../public/backgroundObject.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: 10em;
  }
}

@media screen and (max-width: 768px) and (min-width: 412px) {
  .backgroundImage {
    background-image: url("../../public/backgroundObject.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: 20em;
  }
}

@media screen and (max-width: 412px) {
  .backgroundImage {
    background-image: url("../../public/backgroundObject.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: 15em;
  }
}
