.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 118rem;
  text-align: center;
  white-space: pre-wrap;
  animation: fadeIn 2s ease-in-out;
}

.description h3 {
  font-size: 4.8rem;
  font-weight: 700;
  color: #1920ff;
}

/* Icon */
.description > div:nth-child(4) {
  max-width: 118rem;
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}

.subScription {
  font-size: 2.4rem;
  margin-top: 4rem;
  line-height: 160%;
  color: #afafaf;
  font-weight: bold;
  white-space: pre-wrap;
}

.subScription div {
  font-size: 1.6rem;
  white-space: pre-wrap;
}

/* 데스크탑 */
@media screen and (min-width: 836px) {
  /* Icon */
  .description > div:nth-child(4) {
    visibility: hidden;
  }
}

/* 모바일 */
@media screen and (max-width: 768px) {
  .description {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    text-align: start;
    white-space: pre-wrap;
    word-break: keep-all;
  }

  .description h3 {
    font-size: 4.8rem;
    font-weight: 700;
    color: #1920ff;
  }

  .subScription {
    font-weight: 500;
    font-size: 1.7rem;
    line-height: 160%;
  }

  .subScription > h4 {
    font-weight: bold;
  }

  .SNSDescriptionContainer {
    visibility: visible;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 3;
    transform: none;
  }
}
