.description {
  width: 50rem;
  margin-left: 6rem;
}

.description h1 {
  font-size: 6.4rem;
  font-weight: bold;
  margin-bottom: 4rem;
}

.description h2 {
  font-size: 2.4rem;
  line-height: 160%;
  font-weight: bold;
}

.location {
  font-size: 2.4rem;
  line-height: 160%;
}

.location span {
  color: #ff46c0;
}

/* 데스크탑 */
@media screen and (min-width: 768px) {
}

/* 모바일 */
@media screen and (max-width: 768px) {
  .description {
    margin-left: 2.4rem;
  }

  .description h1 {
    width: 30rem;
    font-size: 3.4rem;
    margin-bottom: 1.6rem;
  }

  .description h2 {
    font-size: 1.7rem;
    font-weight: bold;
  }

  .location {
    line-height: 160%;
    font-size: 1.7em;
  }
}
