.description {
  margin: 0 auto;
  width: 118rem;
  text-align: center;
}

.description h3 {
  font-size: 4.8rem;
  font-weight: 700;
  color: #1920ff;
}

.subScription {
  font-size: 2.4rem;
  margin-top: 4rem;
  line-height: 160%;
  color: #afafaf;
  font-weight: bold;
  white-space: pre-wrap;
}

.subScription div {
  font-size: 1.6rem;
  white-space: pre-wrap;
}

/* 데스크탑 */
@media screen and (min-width: 768px) {
}

/* 모바일 */
@media screen and (max-width: 768px) {
  .description {
    margin-left: 2.4rem;
  }

  .description h1 {
    width: 30rem;
    font-size: 3.4rem;
    margin-bottom: 1.6rem;
  }

  .description h2 {
    font-size: 1.7rem;
    font-weight: bold;
  }

  .location {
    line-height: 160%;
    font-size: 1.7em;
  }
}
