.header {
  position: fixed;
  width: calc(100vw - 8rem);
  top: 0px;
  padding: 2rem 4rem;
  background-color: red;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(5px);
  z-index: 5;
}
.header div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 836px) {
  .header {
    width: calc(100vw - 3.2rem);

    padding: 2rem 1.6rem;
  }
}
