.onboarding main {
  margin-top: 8rem;
}
.onboarding {
}

.onboarding div {
  display: flex;
}

.info {
  align-items: center;
}

.onboarding h1 {
  font-size: 12.8rem;
  font-weight: bold;
  margin-bottom: 2rem;
  margin-right: 2rem;
}

.onboarding h2 {
  font-size: 8rem;
  line-height: 160%;
  font-weight: bold;
  margin-right: 2rem;
}
.onboarding h3 {
  font-size: 1.6rem;
  line-height: 160%;
  font-weight: bold;
  margin-right: 2rem;
}
.onboarding h4 {
  font-size: 3.6rem;
  line-height: 120%;
  font-weight: 300;
  padding-right: 4rem;
}

.onboarding p {
  opacity: 1;
  z-index: 1;

  opacity: 0.4;
}
.onboarding p:hover {
  opacity: 1;
}

/* 데스크탑, 가로 배열 */
@media screen and (min-width: 1550px) {
  .onboarding article {
    width: calc(100vw - 8rem);
    height: calc((100vw - 8rem) * 0.8);

    background-image: url("/birds/hBG.png");
    background-repeat: no-repeat;
    background-size: cover;

    z-index: 1;
  }
}

/* 데스크탑, 세로 배열 */
@media screen and (max-width: 1550px) and (min-width: 1274px) {
  .onboarding article {
    width: calc(100vw - 8rem);
    height: calc((100vw - 8rem) * 0.8);

    background-image: url("/birds/hBG.png");
    background-repeat: no-repeat;
    background-size: cover;

    z-index: 1;
  }
}

@media screen and (max-width: 1274px) and (min-width: 836px) {
  .onboarding article {
    width: calc(100vw - 8rem);
    height: calc((100vw - 8rem) * 0.8);

    background-image: url("/birds/hBG.png");
    background-repeat: no-repeat;
    background-size: contain;

    z-index: 1;
  }
}

/* 모바일 */
@media screen and (max-width: 836px) {
  .onboarding article {
    width: calc(100vw - 2.4rem);
    height: calc((100vw - 2.4rem) * 1.21);

    background-image: url("/birds/vBG.png");
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 1;
  }

  .onboarding {
    padding-left: 1.6rem;
  }

  .onboarding div {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
  }

  .info {
    flex-direction: column;
  }

  .onboarding h1 {
    font-size: calc((100vw - 4rem) * 2 / 7);
    margin-bottom: 1.6rem;
  }
  .onboarding h2 {
    font-size: 3.2rem;
    margin-bottom: 1.6rem;
  }

  .onboarding h3 {
    font-size: 1.7rem;
    font-weight: bold;
  }
  .onboarding h4 {
    font-weight: 700;
    font-size: 3.2rem;
    margin-top: 0.6rem;
    margin-bottom: 1.6rem;
  }

  .location {
    line-height: 160%;
    font-size: 1.7em;
  }
}
